<section class="page_404">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="col-sm-10 col-sm-offset-1  text-center">
                    <div class="tittleNotFount">
                        <h1 class="">404</h1>
                    </div>
                    <div class="four_zero_four_bg">
                    </div>

                    <div class="contant_box_404">
                        <h3 class="h2">
                            Parece que estás perdido
                        </h3>

                        <p>La pagina que estas mirando no es valida!</p>

                        <a routerLink="/home" class="link_404">Ve al Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>