<div *ngIf="(product$ | async) as product">
    <div>
        <img class="image" [src]="product.image" alt="">
    </div>
    <div>
        <ul>
            <li>Nombre: {{product.title}}</li>
            <li>Precio: {{product.price | currency}}</li>
        </ul>
        <p>{{product.description}}</p>
    </div>
    <button (click)="createProduct()">Crear</button>
    <button (click)="updateProduct()">actualizar</button>
    <button (click)="deleteProduct()">eliminar</button>
    <button (click)="getRandonUsers()">Dato Randon</button>
    <button (click)="getFile()">Traer Archivon</button>

</div>