<form [formGroup]="form" (ngSubmit)="register($event)" class="register-Form">
    <mat-card>
        <h2>Registro</h2>
        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="email" formControlName="email" matInput type="email">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="password" formControlName="password" matInput type="password">
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="form.invalid" mat-raised-button type="submit">Registro</button>
        </mat-card-actions>
    </mat-card>
</form>