.product-form-style{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.product-form-mat-card{
    background-color: rgba(0, 0, 253, 0.274);
    color: white;
    text-align: center;
    margin-top: 20px;
    width: 400px;
}
.button-card-guardar{
    background-color: rgb(6, 255, 6);
    color: white;
}