<input type="text" [(ngModel)]="title" >
<h1>{{title}}</h1>

<app-product></app-product>

<div *ngIf="title==='Nicolas'">
  esto es un Nicolas
</div>

<div *ngIf="title==='Julian'">
  esto es un Julian
</div>

<div *ngIf="title==='Andres'">
  esto es un Andres
</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'Nicolas'">este es nicolas</p>
  <p *ngSwitchCase="'Julian'">este es Julian</p>
  <p *ngSwitchCase="'Andres'">Este es Andres</p>
  <p *ngSwitchDefault>no hay match</p>
</div>

<button (click)="addItem()">Add item</button>

<ul>
  <li *ngIf="items.length === 0">La lista esta vacia</li>
  <li *ngFor="let name of items; index as i">
    {{name}} {{i}}
    <button (click)="deleteItem(i)">X</button>
  </li>
</ul>

<div *ngFor="let product of products">
  {{product.title}}
  <img [src]="product.image" alt="">
  {{product.price}}
</div>



