@import '~@angular/material/theming';

$primary: mat-palette($mat-indigo);

footer {
  padding: 20px 0px;
  margin-top: 10px;
  background-color: mat-color($primary);
  .box {
    h3 {
      color: white;
      display: inline-flex;
          vertical-align: middle;
          mat-icon{
              padding-right: 5px;
          }
    }
    p{
      color: white;
    }
    input{
      text-align: center;
      color: white;
      margin: 0px 0px 10px 0px;
    }
    
    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      li {
        margin: 10px 0px;
        a {
          text-decoration: none;
          color: white;
          display: inline-flex;
          vertical-align: middle;
          mat-icon{
              padding-right: 5px;
          }
        }
      }
    }
  }
}

.footer-row{
    width: auto;
    margin-left: 15rem;
}

.contactFooter{
  text-align: center;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.274);
}


