<footer>
  <div class="container">
    <div class="row between-md">
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>Productos</h3>
          <ul>
            <li>
              <a routerLink="/products" [queryParams]="{ type: 'news' }">Nuevos Productos</a>
            </li>
            <li>
              <a routerLink="/products" [queryParams]="{ type: 'offer' }">En oferta</a>
            </li>
            <li>
              <a routerLink="/products" [queryParams]="{ type: 'latest' }">Últimos productos</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>Acerca de PlatziStore</h3>
          <ul>
            <li><a routerLink="/about-us">Sobre nosotros</a></li>
            <li><a routerLink="/stores">Nuestras tiendas</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="box contactFooter">
          <div>
            <h3>Contacto</h3>
          </div>
          <mat-form-field>
            <input matInput placeholder="Digite su correo" [formControl]='emailField' type="email">
          </mat-form-field>
          <div>
            <button mat-raised-button *ngIf="emailField.valid" (click)="sendMail()">enviar</button>
            <p *ngIf='emailField.invalid'>En espera del correo</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>